<div class="flex min-h-screen justify-center bg-gray-100 font-sans">
    <div class="container rounded my-auto max-w-md border-2 border-gray-200 bg-white p-3">
      <!-- header -->
      <div class="my-6 text-center">
        <h1 class="text-3xl font-semibold text-gray-700">Login</h1>
        <p class="text-gray-500">Inicio de sesión</p>
      </div>
  
      <!-- sign-in -->
      <div class="m-6">
        <form (ngSubmit)="login()" class="mb-4">
          <!-- Nombre de usuario -->
          <div class="mb-4">
          
            <label for="username" class="mb-1 block text-sm text-gray-600">Nombre de usuario</label>
           
            <input 
              type="text" 
              name="username" 
              id="username" 
              placeholder="Tu nombre de usuario" 
              [(ngModel)]="credentials.nombre"
              class="w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100 dark:placeholder-gray-500 dark:focus:border-gray-500 dark:focus:ring-gray-900"
              required />
          </div>
  
          <!-- Contraseña -->
          <div class="mb-6">
            <div class="mb-1 flex justify-between">
              <label for="password" class="text-sm text-gray-600">Contraseña</label>
            </div>
            <input 
              type="password" 
              name="password" 
              id="password" 
              placeholder="Tu contraseña" 
              [(ngModel)]="credentials.clave"
              class="w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-100 dark:text-white dark:placeholder-gray-500 dark:focus:border-gray-500 dark:focus:ring-gray-900"
              required />
          </div>
  
          <!-- Mensaje de error -->
          <div *ngIf="errorMessage" class="mb-4 text-red-500 text-sm">
            {{ errorMessage }}
          </div>
  
          <!-- Botón de login -->
          <div class="mb-6">
            <div class="flex items-center">
              <i class="fas fa-users text-blue-500 text-2xl"></i>
              <span class="ml-2">Usuarios</span>
            </div>
            <button 
              type="submit" 
              class="w-full rounded bg-indigo-500 pt-2 pb-3 text-white duration-100 ease-in-out hover:bg-indigo-600 focus:outline-none">
              <fa-icon [icon]="faUser" class="mr-2"></fa-icon> <!-- Icono dentro del botón -->
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  